:root {
    --text-color: #000000;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

h1, h2, .retro-text{
    font-family: 'Press Start 2P', cursive;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height:80px;

}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: bold;
}

nav .right a {
    color: var(--text-color);
    font-family: 'Press Start 2P', cursive;
    margin: 0 10px;
}

nav .right .email-link{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}

.menu-icon {
    margin-left: auto;
    cursor: pointer;
    font-size: 24px;
    margin-left: 15px;
    color: var(--text-color);
}

.vertical-menu {
    display: none;
    position: absolute;
    top: 80px; /* matches your navbar height */
    right: 50px; /* aligns with your nav padding */
    background-color: var(--background-color);
    border: 2px solid var(--link-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    flex-direction: column;
    padding: 10px;
}

.vertical-menu a {
    font-family: 'Press Start 2P', cursive;
    color: var(--text-color);
    padding: 10px;
    display: block;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: var(--link-color);
    color: var(--background-color);
}


@media (max-width: 940px){
    /*NAVBAR*/
    nav {
        padding: 0 20px;
    }

    nav .right a{
        font-size: 22px;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span{
        display: none;
    }

    /*Section 1: Hero*/
    .hero-section .text h2{
        font-size: 35px;
    }

}

@media (max-width: 740px) {

    /*NAVBAR*/
    nav .right a{
        margin: 0px 0px;
    }


    /*Section 1: Hero*/
    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-section .headshot img{
        width: 300px;
        height: 343px;
    }

    .hero-section{
        padding: 0px 20px;
    }

    .hero-section .text h2{
        font-size: 30px;
    }

    /*Section 2: Skills*/
    .skills-section{
        padding: 0 20px; 

    }
 
    .skills-section .cells .cell span{
        font-size: 16px ;
    }

    /*Section 3: Testimony*/
    .testimony-section{
        text-align: center;
        padding: 0 20px;
    }

    .testimony-section .group{
        flex-direction: column;
    }

    /*Section 4: Contact*/
    .contact-section .group{
        flex-direction: column;

    }

    .contact-section{
        padding: 0 20px;
    }
   
}




@media (max-width: 400px){
    /*NAVBAR*/
    nav .right {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    nav .right a:not(:last-child) {
        margin-right: 20px;
    }

    nav .right a {
        padding: 0 10px;
        flex-wrap: wrap;
    }
}
